  <% @pairs.each do |pair| %>
    <div class="pair_div">
      <p>
        <strong>Food: </strong>
        <%= pair.food %>
      </p>

      <p>
        <strong>Beer: </strong>
        <%= pair.beer %>
      </p>

      <p>
        <strong>Type: </strong>
        <%= pair.beer_type %>
      </p>

      <p>
        <%= link_to 'Edit', edit_pair_path(pair) %>  |  <%= link_to 'Destroy', pair, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>