<p id="notice"><%= notice %></p>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add a new beer and food pairing</h4>
          </div>
          <div class="modal-body">
            <% @pair = Pair.new %>
            <%= form_for(@pair) do |f| %>
              <div class="field">
                <%= f.label :food %><br>
                <%= f.text_field :food %>
              </div>
              <div class="field">
                <%= f.label :beer %><br>
                <%= f.text_field :beer %>
              </div>
              Type of Beer
              <div id="type_of_beer" class="field">
                <%= f.select :beer_type do %>
                  <%[['Blonde Ale', 'Blonde Ale'], ['Pale Ale', 'Pale Ale'], ['India Pale Ale', 'India Pale Ale'], ['Imperial IPA', 'Imperial IPA'], ['Amber/Red Ale', 'Amber/Red Ale'], ['Scotch Ale', 'Scotch Ale'], ['Brown Ale', 'Brown Ale'], ['Abbey Dubbel', 'Abbey Dubbel'], ['Abbey Tripel', 'Abbey Tripel'], ['Strong Ale', 'Strong Ale'], ['Barley Wine', 'Barley Wine'], ['Porter', 'Porter'], ['Dry Stout', 'Dry Stout'], ['Oatmeal Stout', 'Oatmeal Stout'], ['Imperial Stout', 'Imperial Stout'], ['Hefeweizen', 'Hefeweizen'], ['American Wheat Ale', 'American Wheat Ale'], ['Witbier', 'Witbier'], ['Dunkelweizen', 'Dunkelweizen'], ['Weizenbock', 'Weizenbock'], ['Classic Pilsener', 'Classic Pilsener'], ['Helles/Dortmunder', 'Helles/Dortmunder'], ['Oktoberfest/Marzen', 'Oktoberfest/Marzen'], ['Amber Lager', 'Amber Lager'], ['Dark Lager/Dunkel', 'Dark Lager/Dunkel'], ['Pale Bock', 'Pale Bock'], ['Doppelbock', 'Doppelbock']].each do |c| %>
                  <%= content_tag(:option, c.first, value: c.last) %>
                   <% end %>
                <% end %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
  </div>

<h2>Listing Pairs</h2>

  <% @pairs.each do |pair| %>
    <div class="pair_div">
      <p>
        <strong>Food: </strong>
        <%= pair.food %>
      </p>

      <p>
        <strong>Beer: </strong>
        <%= pair.beer %>
      </p>

      <p>
        <strong>Type: </strong>
        <%= pair.beer_type %>
      </p>

      <p>
        <%= link_to 'Edit', edit_pair_path(pair) %>  |  <%= link_to 'Destroy', pair, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>

<div id="pair-view" class="pair"></div>

<br>

