<!DOCTYPE html>
<html>
  <head>
    <title>Good Food, Better Beer</title>
      <!-- Bootstrap CSS and Javascript -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img class="brand_image" src="http://www.pixeljoint.com/files/icons/beer__r12507871.gif" alt="beer mug">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                  <li class="active"><%= link_to "Add New Pairing", new_pair_path %></li>
                  <li><%= link_to "View Beer/Food", :pairs %></li>
                  <li><a href="/lookups">Beer Lookup</a></li>

                
            </ul>
        
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <div id="beer-filter" >
    <select id="beer-selector">
      <option value="All">All</option>
      <option value="Blonde Ale">Blonde Ale</option>
      <option value="Pale Ale">Pale Ale</option>
      <option value="India Pale Ale">India Pale Ale</option>
      <option value="Amber/Red Ale">Amber/Red Ale</option>
      <option value="Scotch Ale">Scotch Ale</option>
      <option value="Brown Ale">Brown Ale</option>
      <option value="Abbey Dubbel">Abbey Dubbel</option>
      <option value="Abbey Tripel">Abbey Tripel</option>
      <option value="Strong Ale">Strong Ale</option>
      <option value="Barley Wine">Barley Wine</option>
      <option value="Porter">Porter</option>
      <option value="Dry Stout">Dry Stout</option>
      <option value="Oatmeal Stout">Oatmeal Stout</option>
      <option value="Imperial Stout">Imperial Stout</option>
      <option value="Hefeweizen">Hefeweizen</option>
      <option value="American Wheat Ale">American Wheat Ale</option>
      <option value="Witbier">Witbier</option>
      <option value="Dunkelweizen">Dunkelweizen</option>
      <option value="Weizenbock">Weizenbock</option>
      <option value="Classic Pilsener">Classic Pilsener</option>
      <option value="Helles/Dortmunder">Helles/Dortmunder</option>
      <option value="Oktoberfest/Marzen">Oktoberfest/Marzen</option>
      <option value="Amber Lager">Amber Lager</option>
      <option value="Dark Lager/Dunkel">Dark Lager/Dunkel</option>
      <option value="Pale Bock">Pale Bock</option>
      <option value="Doppelbock">Doppelbock</option>

    </select>

  </div>
  <div class="pairs_list">
    <%= yield %>
  </div>

  </body>
</html>
